* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #3c0064;
    color: white;
    height: 100px;
    padding: 0 16px;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.content {
    flex: 1;
    display: flex;
}

.sidebar {
    width: 150px;
    background-color: #3c0064;
    color: white;
    flex-shrink: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 10px;
    padding: 0 16px;
}

.cont-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 48px;
    gap: 10px;
}

.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .06);
    border-radius: 4px;
    flex: 0 1 300px;
    text-align: center;
}

.footer {
    height: 100px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}